{% extends "admin/admin.html" %}

{% block content %}
    <div class="addArea">
        <h1>
            {% block title %}
                添加游记
            {% endblock %}
        </h1>
        <form action="" method="POST" enctype="multipart/form-data">
            {% for msg in get_flashed_messages(category_filter=["ok"]) %}
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                    </button>
                    <h4>操作成功</h4>
                    {{ msg }}
                </div>
            {% endfor %}
            {% for msg in get_flashed_messages(category_filter=["err"]) %}
                <div class="alert alert-false alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                    </button>
                    <h4>操作失败</h4>
                    {{ msg }}
                </div>
            {% endfor %}
            <div class="form-group">
                <p>{{form.title.label}}</p>{{form.title}}
                {% for err in form.title.errors%}
                    <div class="err">{{ err }}</div>
                {% endfor %}
            </div>

            

            <div class="form-group">
                <p>{{form.author.label}}</p>{{form.author}}
                {% for err in form.author.errors%}
                    <div class="err">{{ err }}</div>
                {% endfor %}
            </div>

            <div class="form-group">
                <p>{{form.scenic_id.label}}</p>{{form.scenic_id}}
                {% for err in form.scenic_id.errors%}
                    <div class="err">{{ err }}</div>
                {% endfor %}
            </div>

            <div class="form-group">
                <p>{{form.cover.label}}</p>{{form.cover}}
                {% for err in form.cover.errors%}
                    <div class="err">{{ err }}</div>
                {% endfor %}
            </div>
            
            <div class="form-group">
                <p>{{form.content.label}}</p>{{form.content}}
                {% for err in form.content.errors%}
                    <div class="err">{{ err }}</div>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.csrf_token }}
                {% block button %}
                    {{form.submit}}
                {% endblock %}
            </div>

        </form>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static',filename='ckeditor/ckeditor.js') }}"></script>
    <script>
    $(document).ready(function(){
        $("#g-4").addClass("active");
        $("#g-4-1").addClass("active");
    });
    // 使用CKeditor编辑器
    CKEDITOR.replace('content', {
        filebrowserUploadUrl: '/admin/ckupload/',  // 设置文件上传路径
    });

    </script>
{% endblock %}