{% extends "admin/admin.html" %}

{% block content %}
    <div class="indexLeft">
        <h1>公司简介</h1>
        <p>
            <b>深圳悦游有限公司</b>是一家立足于社交旅游的创业公司。我们将用最真诚的服务,使你真正感受出行的方便与全面周到的服务，给你带来轻松与快乐。悦游拥有强大的组织和接待能力、丰富的设计和安排会展的经验，在组织大型旅游团和国际会议方面取得了巨大的成绩，能根据客户的需求，从最初拟定会展策划、与场地单位和相关供应商洽谈价格、办理各种证件、策划宣传推广、招徕客户参展，到会展现场的组织、安排与会者的交通、住宿、娱乐和会前会后的观光游览活动，以及会展后的分析总结，都能全面而灵活地提供各类会议和展览的配套服务。悦游公司拥有一批极具创意有高度敬业精神的员工，无论是数十人的跨国公司董事会会议，还是上千人的大型国际会议，锦江旅游的员工都能以其优质服务赢得客户的广泛好评。
        </p>
    </div>
    <div class="indexRight">
        <h1>我们的优势</h1>
        <p>
            <b>更丰富的旅游资源.</b>悦游与全国绝大多数三星级景区广泛开展合作,让您不出国门也能拥有天堂般的超值享受.让您真正感受出行的方便与全面周到的服务，给您带来轻松与快乐.<br><br>
            <b>更丰富的旅游攻略.</b>悦游主打旅游社交的特色功能,让您对旅游目的地有更加充分的了解和认识,同时了解更多更充分的攻略,让您能享受旅游的每一秒钟,给您带来不一样的旅游体验.<br><br>
            <b>更安全优惠的住宿.</b>为了能让游客们花更少的钱,拥有更多的旅游体验,悦游与很多星级景区周边的旅馆,酒店进行合作.悦游会定期对这些酒店,旅馆进行黑盒检验,以便能够为广大旅客提供更多优质服务.如果被抽查对象存在安全或其他危害旅客生命财产的行为,我们会坚决取消双方的合作,以保障游客的权益.<br><br>
            <b>更丰富的旅游攻略.</b>悦游主打旅游社交的特色功能,让您对旅游目的地有更加充分的了解和认识,同时了解更多更充分的攻略,让您能享受旅游的每一秒钟,给您带来不一样的旅游体验.<br>
        </p>
    </div>
{% endblock %}