{% extends "admin/admin.html" %}
{% import "admin/admin_page.html" as pg %}

{% block content %}
    <div class="userList">
        <h1>会员列表</h1>
        <ul class="table">
            <li class="tableTitle">
                <div class="uid">编号</div>
                <div class="uname">用户名</div>
                <div class="uemail">邮箱</div>
                <div class="addtime">注册时间</div>
                <div class="uphone">手机</div>
                <div class="isactive">账号状态</div>
            </li>
            {% for user in page_data.items %}
                <li>
                    <div class="uid">{{user["id"]}}</div>
                    <div class="uname">{{user["uname"]}}</div>
                    <div class="uemail">{{user["uemail"]}}</div>
                    <div class="addtime">{{user["addtime"]}}</div>
                    <div class="uphone">{{user["uphone"]}}</div>
                    {% if user["isActive"] %}
                        <div class="isactive on">正常</div>
                    {% else %}
                        <div class="isactive off" >已注销</div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <div class="box-footer clearfix">
            {{ pg.page(page_data,'admin.user_list') }}
        </div>
    </div>
{% endblock %}