<ul class="nav">
    <li class="navLi current">
        <div class="navTitle">
            <img src="/static/admin/image/admin_07.png" class="navIcon">
            <p>首页</p>
            <div class="num">1</div>
        </div>
        <ul class="navHidden">
            <li>
                <a href="/admin/index/firstpage">
                    <div class="circle"></div>
                    <p>控制面板</p>
                </a>
            </li>
        </ul>  
    </li>
    <li class="navLi">
        <div class="navTitle">
            <img src="/static/admin/image/admin_24.png" class="navIcon">
            <p>会员管理</p>
            <div class="num">2</div>
        </div>
        <ul class="navHidden">
            <li>
                <a href="/admin/user/userlist">
                    <div class="circle"></div>
                    <p>会员列表</p>
                </a>
            </li>
            <li>
                <a href="/admin/user/suggest">
                    <div class="circle"></div>
                    <p>建议意见</p>
                </a>   
            </li>
        </ul>  
    </li>
    <li class="navLi">
        <div class="navTitle">
            <img src="/static/admin/image/admin_25.png" class="navIcon">
            <p>地区管理</p>
            <div class="num">2</div>
        </div>
        <ul class="navHidden">
            <li>
                
                <a href="/admin/area/addarea">
                    <div class="circle"></div>
                    <p>添加地区</p>
                </a>
            </li>
            <li>
                <a href="/admin/area/arealist">
                    <div class="circle"></div>
                    <p>地区列表</p>
                </a>
            </li>
        </ul>  
    </li>
    <li class="navLi">
        <div class="navTitle">
            <img src="/static/admin/image/admin_26.png" class="navIcon">
            <p>景区管理</p>
            <div class="num">2</div>
        </div>
        <ul class="navHidden">
            <li>
                <a href="/admin/scenic/addscenic">
                    <div class="circle"></div>
                    <p>添加景区</p>
                </a>
                
            </li>
            <li>
                <a href="/admin/scenic/sceniclist">
                    <div class="circle"></div>
                    <p>景区列表</p>
                </a>
            </li>
        </ul>  
    </li>
    <li class="navLi">
        <div class="navTitle">
            <img src="/static/admin/image/admin_27.png" class="navIcon">
            <p>游记管理</p>
            <div class="num">3</div>
        </div>
        <ul class="navHidden">
            <li>
                <a href="/admin/travels/addtravels">
                    <div class="circle"></div>
                    <p>添加游记</p>
                </a>                        
            </li>
            <li>
                <a href="/admin/travels/travelslist">
                    <div class="circle"></div>
                    <p>游记列表</p>
                </a>                       
            </li>
            <li>
                <a href="/admin/travels/reviews">
                    <div class="circle"></div>
                    <p>评论列表</p>
                </a>
            </li>
        </ul>  
    </li>
    <li class="navLi">
        <div class="navTitle">
            <img src="/static/admin/image/admin_28.png" class="navIcon">
            <p>日志管理</p>
            <div class="num">3</div>
        </div>
        <ul class="navHidden">
            <li>
                <a href="/admin/log/operlog">
                    <div class="circle"></div>
                    <p>操作日志</p>
                </a>
            </li>
            <li>
                <a href="/admin/log/adminlog">
                    <div class="circle"></div>
                    <p>管理员登陆日志</p>
                </a>
            </li>
            <li>
                <a href="/admin/log/userlog">
                    <div class="circle"></div>
                    <p>会员登陆日志</p>
                </a>
            </li>
        </ul>  
    </li>
</ul>