<ul class="nav">
    <li class="navLi current">
        <div class="navTitle">
            <img src="/static/admin/image/admin_07.png" class="navIcon">
            <p>首页</p>
            <div class="num">1</div>
        </div>
        <ul class="navHidden">
            <li>
                <a href="/admin/">
                    <div class="circle"></div>
                    <p>控制面板</p>
                </a>
            </li>
        </ul>  
    </li>
    <li class="navLi">
        <div class="navTitle">
            <img src="/static/admin/image/admin_07.png" class="navIcon">
            <p>会员管理</p>
            <div class="num">2</div>
        </div>
        <ul class="navHidden">
            <li>
                <a href="/admin/list">
                    <div class="circle"></div>
                    <p>会员列表</p>
                </a>
            </li>
            <li>
                <a href="/admin/suggest">
                    <div class="circle"></div>
                    <p>建议意见</p>
                </a>   
            </li>
        </ul>  
    </li>
    <li class="navLi">
        <div class="navTitle">
            <img src="/static/admin/image/admin_07.png" class="navIcon">
            <p>地区管理</p>
            <div class="num">2</div>
        </div>
        <ul class="navHidden">
            <li>
                
                <a href="/admin/addArea">
                    <div class="circle"></div>
                    <p>添加地区</p>
                </a>
            </li>
            <li>
                <a href="/admin/areaList">
                    <div class="circle"></div>
                    <p>地区列表</p>
                </a>
            </li>
        </ul>  
    </li>
    <li class="navLi">
        <div class="navTitle">
            <img src="/static/admin/image/admin_07.png" class="navIcon">
            <p>景区管理</p>
            <div class="num">2</div>
        </div>
        <ul class="navHidden">
            <li>
                <a href="/admin/addScenic">
                    <div class="circle"></div>
                    <p>添加景区</p>
                </a>
                
            </li>
            <li>
                <a href="/admin/scenicList">
                    <div class="circle"></div>
                    <p>景区列表</p>
                </a>
            </li>
        </ul>  
    </li>
    <li class="navLi">
        <div class="navTitle">
            <img src="/static/admin/image/admin_07.png" class="navIcon">
            <p>游记管理</p>
            <div class="num">3</div>
        </div>
        <ul class="navHidden">
            <li>
                <a href="/admin/addTravels">
                    <div class="circle"></div>
                    <p>添加游记</p>
                </a>                        
            </li>
            <li>
                <a href="/admin/travelsList">
                    <div class="circle"></div>
                    <p>游记列表</p>
                </a>                       
            </li>
            <li>
                <a href="/admin/reviewList">
                    <div class="circle"></div>
                    <p>评论列表</p>
                </a>
            </li>
        </ul>  
    </li>
    <li class="navLi">
        <div class="navTitle">
            <img src="/static/admin/image/admin_07.png" class="navIcon">
            <p>日志管理</p>
            <div class="num">3</div>
        </div>
        <ul class="navHidden">
            <li>
                <a href="/admin/operationLog">
                    <div class="circle"></div>
                    <p>操作日志</p>
                </a>
            </li>
            <li>
                <a href="/admin/adminLoginLog">
                    <div class="circle"></div>
                    <p>管理员登陆日志</p>
                </a>
            </li>
            <li>
                <a href="/admin/userLoginLog">
                    <div class="circle"></div>
                    <p>会员登陆日志</p>
                </a>
            </li>
        </ul>  
    </li>
</ul>