{% extends "admin/admin.html" %}
{% import "admin/admin_page.html" as pg %}

{% block content %}
    <div class="userloginlog">
        <h1>会员登陆日志</h1>
        <ul class="table">
            <li class="tableTitle">
                <div class="uid">编号</div>
                <div class="uname">用户ID</div>
                <div class="uemail">登陆IP</div>
                <div class="addtime">登陆时间</div>
            </li>
            {% for log in page_data.items %}
                <li>
                    <div class="uid">{{log["id"]}}</div>
                    <div class="uname">{{log["user_id"]}}</div>
                    <div class="uemail">{{log["ip"]}}</div>
                    <div class="addtime">{{log["addtime"]}}</div>
                </li>
            {% endfor %}
        </ul>
        <div class="box-footer clearfix">
            {{ pg.page(page_data,'admin.userLoginLog') }}
        </div>
    </div>
{% endblock%}