<div id="footer">
    <div class="footer-top">
        <div class="inner">
            <ul class="boxul">
                <li class="boxli">
                    <ul>
                        <li style="font-weight:bold;font-size:18px;">公司概述</li>
                        <li><a href="#">公司简介</a></li>
                        <li><a href="#">企业文化</a></li>
                        <li><a href="#">视频介绍</a></li>
                    </ul>
                </li>
                <li class="boxli">
                    <ul>
                        <li style="font-weight:bold;font-size:18px;">旅游攻略</li>
                        <li><a href="#">热门地区</a></li>
                        <li><a href="#">热门景点</a></li>
                        <li><a href="#">最新游记</a></li>
                    </ul>
                </li>
                <li class="boxli">
                    <ul>
                        <li style="font-weight:bold;font-size:18px;">合作推广</li>
                        <li><a href="#">景区推广</a></li>
                        <li><a href="#">景区信息更正</a></li>
                        <li><a href="#">住宿合作</a></li>
                    </ul>
                </li>
                <li class="boxli">
                    <ul>
                        <li style="font-weight:bold;font-size:18px;">联系我们</li>
                        <li><a href="#">联系我们</a></li>
                        <li><a href="#">加入我们</a></li>
                        <!-- <li><a href="#">视频介绍</a></li> -->
                    </ul>
                </li>
            </ul>
            <div class="erweima">
                <div>
                    <p>地址 : 深圳市民治</p>
                    <p>电话 : 18611111111</p>
                    <p>邮箱 : yueyou@yueyou.com</p>
                </div>
                <img src="{{url_for('static',filename='base/image/erweima.png')}}">
            </div>
        </div>
    </div> 
    <div class="footer-bottom">
        <div class="inner">
            <p>Copyright © 2006-2018 悦游 &nbsp;&nbsp;&nbsp;&nbsp;<a href="#">京ICP证130164号</a></p>
        </div>
    </div>
</div>