<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>悦游</title>
    <link rel="stylesheet" href="{{url_for('static',filename='base/css/index.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='base/css/common.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='base/css/footer.css')}}">
    <script src="{{url_for('static',filename='base/js/jquery-1.11.1.min.js')}}"></script>
    <script src="{{url_for('static',filename='base/js/kxbdSuperMarquee.js')}}"></script>
    <script src="{{url_for('static',filename='base/js/index.js')}}"></script>
    <script src="{{url_for('static',filename='base/js/ajax.js')}}"></script>
    <script src="{{url_for('static',filename='base/js/getreviews.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='base/css/travels_info.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='base/css/userinfo.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='base/css/info_edit.css')}}">
</head>
<body>
    <div id="header">
        <div class="inner">
            <div class="logo">
                <a href="/">
                    <img src="{{url_for('static',filename='base/image/logo.png')}}" style="height:60px;margin-top: 10px;">
                </a>
            </div>
            <!-- 导航栏 -->
            <ul class="leftNav">
                <li><a href="/tourism_sircle">旅游圈</a></li>
                <li><a href="/">全部景点</a></li>
                <li><a href="/">全部游记</a></li>
                <li><a href="/">关于我们</a></li>
                <!-- 搜索框 -->
                <form action="/search" method="POST">
                    <input type="text" name="search" placeholder="请输入搜索内容">
                </form>
            </ul>  
            <ul class="rightNav">
                {% if session['user_name'] %}
                    <li><a href="/userinfo/{{session['user_id']}}">[ {{session["user_name"]}} ]</a></li>
                    <li><a href="/logout/">退出</a></li>
                {% else %}
                    <li>
                        <a href="/login/">登录</a>
                        |
                        <a href="/register/">注册</a>
                    </li>
                {% endif %}
            </ul>   
        </div>
    </div>
   
    {% block content %}{% endblock %}
    
    {% include 'base/footer.html' %}
</body>
</html>