<div>
    {{ form.uphone.label }}
    {{ form.uphone }}
    <span id="phonemsg"></span>
    <br>
    <input type="submit" name="phonesave" onclick="postphone()" value="保存">
    <input type="submit" name="phonecancel" onclick="getphone()" value="取消">
</div>

<script>
    function getphone(){
        var uid = $("[name=infophone]").val();
        console.log("收到个体phone");
        $.get("/getuphonepage",{uid:uid},function(data){
            $(".uphone1").html(data);
        });
    }

    function postphone(){
        var uid = $("[name=infophone]").val();
        var uphone = $("[name='uphone']").val();
        $.post("/postphonepage",{
            uid:uid,
            uphone:uphone
        },
        function(data){
            $(".uphone1").html(data);
        })
    }

    $("input[name='uphone']").bind('input propertychange',function(){
        $("#phonemsg").html('');
        var val = $(this).val(); 
        if(val.length != 11 || isNaN(val)){
            $("#phonemsg").html('号码错误');
            $("[name='phonesave']").attr("disabled",true);
            $("[name='phonesave']").css({
                "cursor":"default"})
        }else{
            $("#phonemsg").html('ok');
            $("[name='phonesave']").attr("disabled",false);
            $("[name='phonesave']").css({
                "cursor":"pointer"
            })
        }
    })
        
</script>