<form action="/alltravels/" class="form1" method="GET">
  <div class="row">
    <!-- 按地区查询 -->
    <div class="col-sm-4 col-md-2">
      <div class="select1_wrapper">
        <label>按地区查询：</label>
        <div class="select1_inner">
          <input type="text" name="travelArea">
        </div>
      </div>
    </div>
    <!-- 按景区查询 -->
    <div class="col-sm-4 col-md-2">
      <div class="select1_wrapper">
        <label>按景区查询：</label>
        <div class="select1_inner">
          <input type="text" name="travelScenic">
        </div>
      </div>
    </div>
    <!-- 按游记名称查询 -->
    <div class="col-sm-4 col-md-2" style="margin-right:15px">
        <div class="select1_wrapper">
            <label>按游记名称查询：</label>
            <div class="select1_inner">
                <input type="text" name="travelTitle">
            </div>
        </div>
    </div>
    <!-- 按游记作者查询 -->
    <div class="col-sm-4 col-md-2">
        <div class="select1_wrapper">
            <label>按游记作者查询：</label>
            <div class="select1_inner">
                <input type="text" name="travelAuthor">
            </div>
        </div>
    </div>
    <!-- 搜索 -->
    <div class="col-sm-4 col-md-2">
      <div class="button1_wrapper">
        <button type="submit" class="btn-default btn-form1-submit">搜索</button>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</form>